extends layout
block content
    h2 Tweets
    p There are #{tweets.length} tweets.

    ol
        each tweet in tweets
            li
                a(href=`/tweets/${tweet.id}`) #{tweet.createdAt}